<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/config/bootstrap.php" colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/Somnambulist/EntityAudit/Resources</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Somnambulist EntityAudit for Laravel-Doctrine">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
        <var name="DOCTRINE_DRIVER" value="pdo_sqlite"/>
        <var name="DOCTRINE_MEMORY" value="1"/>
        <var name="DOCTRINE_DATABASE" value=""/>
        <var name="DOCTRINE_USER" value=""/>
        <var name="DOCTRINE_PASSWORD" value=""/>
        <var name="DOCTRINE_HOST" value=""/>
        <!--<var name="DOCTRINE_PATH" value="./db.sqlite"/>-->
    </php>
</phpunit>
